@font-face
{ 
        font-family: "neutratextbookitalic";
        src: url('http://fontsforweb.com/public/fonts/1270/neutratextbookitalic.eot');
        src: local("NeutrafaceText-BookItalic"), url('http://fontsforweb.com/public/fonts/1270/neutratextbookitalic.ttf') format("truetype");
}
@font-face
{
	font-family: Charis;
	src: url("fonts/CharisSIL-R.ttf"); 
}
@font-face
{
	font-family: Charis;
	src: url("fonts/CharisSIL-I.ttf");
	font-style: italic; 
}

body
{
	background-image: url('../images/bkg_face.jpg'); 
	background-size: 350px 400px;
	font-family: Verdana;
	color: rgba(25, 25, 25, 0.9);
/*
	link="#FFFF66";
	alink="#FFCC33";
	vlink="#FFFF66";
*/
}
a
{
	color: #CCFFCC;
}

.picture
{
	border-radius: 45px;
	opacity: 0.9;
	display: inline;
	max-height: 250px;
	margin: 5px;

}

.portrait
{
	border-radius: 45px;
	display: inline;
	float: left;
	margin: 35px;
}

.text-white-center, .text-black-center, .text-white-left, .text-black-left
{
	font-family: Charis, "Times New Roman", Verdana;
	font-style: italic;
	font-size: 16pt;
	font-weight: normal;	
}

.text-white-center, .text-white-left
{
	color: rgba(255, 255, 255, 0.8);	
}
.text-black-center, .text-black-left
{
	color: rgba(0, 0, 0, 1);
}

.text-white-left, .text-black-left
{
	text-align: left;
	margin-left: 50px;
}
.text-white-center, .text-black-center
{
	text-align: center;
}

.content-center-block
{
	border: 1px solid rgba(255, 255, 255, 0.9);
	background-color: rgba(220, 220, 150, 0.5);
	border-radius: 45px;
	margin: 5px;
}
 
.icon
{
	border-radius: 5px;
	border: 5px solid rgba(255, 255, 255, 0.9);
	max-width: 30px;
	margin: 10px;
	vertical-align: text-bottom;
}

.header, .footer
{
	border: 1px solid rgba(255, 255, 255, 0.9);
	background-color: rgba(220, 220, 150, 0.5);
	border-radius: 45px;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-family: Charis, "Times New Roman", Verdana;
	font-style: italic;
	font-weight: bolder;
	font-size: 26pt;
	margin: 10px;
	padding: 10px;
}

.footer
{
	font-family: Verdana;
	font-size: 12pt;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	padding: 10px;
}